@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --body-bg: #fffffe;
  --other-bg: #e5e9ed;
  --box-shadow: #a2afb7;
  --span: #1d2730;
  --arrow-click: #2b3743;
  --other: #202c37;
}

.dark_mode {
  --body-bg: #202c37;
  --other-bg: #2b3743;
  --box-shadow: #1d2730;
  --span: #a2afb7;
  --arrow-click: #e5e9ed;
  --other: #fffffe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--other);
}

body {
  background: var(--body-bg);
}

.header {
  padding: 13px 20px;
  background: var(--other-bg);
  box-shadow: 0px 3px 5px var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-weight: 800;
  font-size: 26px;
}

.mode {
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: 600;
}

.sort_div {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_box input,
.search_box label {
  padding: 10px 10px;
  font-weight: 500;
  font-size: 13px;
  background: var(--other-bg);
  box-shadow: 0px 3px 5px var(--box-shadow);
  outline: none;
  border: none;
  border-radius: 5px;
}

.filter_div {
  display: flex;
  align-items: center;
}

.filter_box {
  width: 110px;
  padding: 10px 10px;
  background: var(--other-bg);
  box-shadow: 0px 3px 5px var(--box-shadow);
  border-radius: 5px;
  border: none;
  outline: none;
}

.country_cards {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3%;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
}

.country_card {
  background: var(--other-bg);
  box-shadow: 0px 3px 5px var(--box-shadow);
  border-radius: 5px;
  overflow: hidden;
}

.flag {
  width: 100%;
  height: 200px;
}

div.country_info {
  padding: 0px 0px 30px 30px;
}

h4.name {
  padding: 0px 0px 20px 0px;
}

p.population,
p.region,
p.capital {
  font-weight: 300;
  font-size: 15px;
}

button.backbtn {
  margin: 30px 20px;
  padding: 5px 20px;
  font-weight: 500;
  background: var(--other-bg);
  box-shadow: 3px 3px 2px var(--box-shadow);
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.fa-arrow-left-long {
  padding-right: 15px;
  color: var(--arrow-click);
}

.country-click-img {
  margin: 0 auto;
}

img.img_click {
  margin-top: 30px;
  margin-left: 20px;
  width: 90%;
  height: 200px;
  box-shadow: 3px 3px 2px var(--box-shadow);
  border: 1px solid #202c37;
  border-radius: 10px;
}

div.country_click {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

div.information_click {
  width: 100%;
  padding: 0 50px;
  line-height: 40px;
  display: block;
}

h2.name_click {
  padding: 30px 0;
  font-size: 30px;
}

div.left_side {
  float: left;
  padding: 0 50px 0 0;
}

span.colored {
  color: var(--span);
}

.native_click,
.population_click,
.region_click,
.subregion_click,
.capital_click,
.domain_click,
.currency_click,
.languages_click {
  color: var(--arrow-click);
}

@media (max-width: 1000px) {
  div.country_click {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .country_cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 16px;
  }

  .mode {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
  }

  .country_cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 370px) {
  .sort_div {
    flex-direction: column;
    row-gap: 20px;
  }
}
