<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day 3</title>
    <style>
      .text-danger {
        color: red;
      }
    </style>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- Boolean Attributes -->
      <button :disabled="isButtonDisabled">Button</button>

      <input type="number" name="age" id="age" v-model="age" />
      <button @click="mybtn">Mybtn</button>
      <input type="text" :disabled="isInputDisabled" />

      <!-- Conditional Rendering -->
      <p v-if="mark >= 40 && mark <= 79">pass</p>
      <p v-else-if="mark < 40">Fail</p>
      <p v-else>D</p>

      <!-- Event Modifier -->
      <form action="" method="post" @submit.prevent="validate">
        <input type="text" name="username" id="username" />
        <br />
        <input type="email" name="email" id="email" />
        <br />
        <input type="submit" value="Save" />
      </form>

      <!-- Binding Objects -->
      <p :class="{ active: isActive, 'text-danger': hasError }">Hello Vue</p>

      <!-- List Rendering -->
      <div v-if="students.length >= 1">
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(student, index) in students">
              <td>{{ ++index }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.age }}</td>
              <td>{{ student.gender }}</td>
              <td>
                <button @click="alertDetails(--index)">Detail</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      const mountedApp = app2.mount("#app");
    </script>
  </body>
</html>
